<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Il meglio dai laboratori indipendenti. Da tutta Europa.">
  <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
  <link rel="icon" href="{{ "images/dettagli_icon.png" | relURL }}" type="image/png">
</head>
<body>
  <header class="site-header">
    <div class="header-inner">
      <div class="logo">
          <img class="header__logo-img" src="images/dettagli_logo.png" alt="dettagli." style="width: 250px;">
      </div>

    </div>
  </header>

  <main>
    <section class="hero">
      <div class="hero-inner">
        <h1>
          I migliori cosmetici dai laboratori indipendenti.<br>
          Da tutta Europa.
        </h1>
        
        <div style="height: 25px"></div>
        
        <h2 style="color: #1cc8d4ff">Il countdown è iniziato.</h2>
        
        <div style="height: 25px"></div>
        
        <div>
            <img src="images/ig.svg" class="social" />
            <span style="padding-left: 25px">&nbsp;</span>
            <img src="images/tt.svg" class="social" />
        </div>
        
      </div>
    </section>
  </main>

</body>
</html>
